* {
  box-sizing: border-box;
}

body{
    margin:0
}

.topnav {
    overflow: hidden;
    background-color: lightgreen;
    height: 10%;
}

.topnav a {
    float: left;
    color: black;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
  }

.logo {
    width:300%
}

.container_1 .logo {
    float: left;
    width: 25%;
  }

.container_2 .carousel {
    float: right;
    width: 75%;
}
.container_2 .carousel .box1{
    float: left;
    background-color: rgb(65, 65, 167);
    width:30%;
    padding:5px;
}
.container_2 .carousel .box2{
    float: left;
    background-color: rgb(209, 87, 87);
    width:30%;
    padding:5px;
}
.container_2   .carousel .box3{
    float: right;
    background-color: lightgreen;
    width:30%;
    padding:5px;
}

#footer {
    clear:both;
}

@media screen and (max-width: 900px) {
    .logo {
       width: 20%;
       align-items: center;
    }
    .topnav a{
        display: none;

    }
    .topnav a.icon {
        float: left;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        leftt: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .logo {
       width: 30%;
       align-items: center;
    }
    .topnav a{
        float: left;
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}