* {
  box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: lightgreen;
    height: 10%;
}

.topnav a {
    float: left;
    color: black;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container_1 .logo {
    width: 25%;
  }

.container_2 .carousel {
    width: 75%;
}
.container_2 .carousel .box1{
    float: left;
    background-color: blue;
    width:30%;
    padding:5px;
}
.container_2 .carousel .box2{
    float: left;
    background-color: blue;
    width:30%;
    padding:5px;
}
.container_2   .carousel .box3{
    float: right;
    background-color: blue;
    width:30%;
    padding:5px;
}



@media screen and (max-width: 900px) {
    .logo {
       width: 20%;
       align-items: center;
    }
 }
 @media screen and (max-width: 600px) {
    .logo {
       width: 30%;
       align-items: center;
    }
 }


.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
