body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
/*     background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.button {
    border: white;
    color: grey;
    /* padding: 15px 32px; */
    height: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {background-color: aquamarine;}
.button1:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button2 {background-color: aquamarine;}
.button2:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button3 {background-color: aquamarine;}
.button3:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button4 {background-color: aquamarine;}
.button4:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button5 {background-color: aquamarine;}
.button5:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button6 {background-color: aquamarine;}
.button6:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button7 {background-color: aquamarine;}
.button7:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button8 {background-color: aquamarine;}
.button8:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button9 {background-color: aquamarine;}
.button9:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button10 {background-color: aquamarine;}
.button10:hover {
    background-color: white;
    border: 2px solid aquamarine;
}

#intro img {
    /* width: 30%;
    height: 30%; */
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #eee;
}

#intro {
    /*background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://www.pngkit.com/png/detail/877-8770741_free-north-carolina-outline-with-home-on-border.png');
    */
    background-color: aquamarine;
}

#assignments {
    /* background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://jmhobbs29.github.io/WebProgramming6930/Images/cherry_blossoms.jpg'); */
    background-color: darkgrey;
}