form{
    text-align: center;
    height: 25%;
}
.image {
    align-items: center;
    width: 50%;
    height:auto;
}
#topbox {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

#problembox {
    width: 100%;
    align-items:center;
    border: 2px solid black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}





/* Buttons for all homework assignments */

.button0 {background-color: aquamarine;}
.button0:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
  
.button1 {background-color: aquamarine;}
.button1:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button2 {background-color: aquamarine;}
.button2:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button3 {background-color: aquamarine;}
.button3:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button4 {background-color: aquamarine;}
.button4:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button5 {background-color: aquamarine;}
.button5:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button6 {background-color: aquamarine;}
/* .button6:hover {
    background-color: white;
    border: 2px solid aquamarine; 
}*/
.button7 {background-color: aquamarine;}
/* .button7:hover {
    background-color: white;
    border: 2px solid aquamarine;
} */
.button8 {background-color: aquamarine;}
.button8:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
.button9 {background-color: aquamarine;}
.button9:hover {
    background-color: white;
    border: 2px solid aquamarine;
}
