/*Third style sheet for HMWK2 assignment. */
#main body style
body {
    margin: 0;
    margin-top: 60px;
    font-family: sans-serif;
}


header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    background-color: #eee;
}

/*section attributes*/
section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*buttons created to link to each homework except currently viewed assignment.*/
.button {
    border: white;
    color: grey;
    height: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }


/*each button has hoover functione except current page.*/  
.button2 {background-color: lightpink;}
/*removed hover functionality so to know that you are on that page. */

.button0 {background-color: lightpink;}
.button0:hover {
    background-color: white;
    border: 2px solid lightpink;
}

.button1 {background-color: lightpink;}
.button1:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button3 {background-color: lightpink;}
.button3:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button4 {background-color: lightpink;}
.button4:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button5 {background-color: lightpink;}
.button5:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button6 {background-color: lightpink;}
.button6:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button7 {background-color: lightpink;}
.button7:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button8 {background-color: lightpink;}
.button8:hover {
    background-color: white;
    border: 2px solid lightpink;
}
.button9 {background-color: lightpink;}
.button9:hover {
    background-color: white;
    border: 2px solid lightpink;
}

/*image qualities for profile pic*/
#intro2 img {
    width: 25%;
    border-radius: 50%;
}

/*intro section column*/
#intro2 {
    background-color: lightpink;
    border:1px white;
    float: left;
    width: 40%;
}

/*assignments section column 1*/
#assignments {
    background-color: darkgray;
    float: left;
    width: 30%;

}

/*assignments section column 2*/
#assignments2 {
    /* background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://jmhobbs29.github.io/WebProgramming6930/Images/cherry_blossoms.jpg'); */
    background-color: darkgray;
    float: right;
    width: 30%;

}