form{
    text-align:left;
    height: 25%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.topbox {
	margin: 5px;
    padding: 5px;
	border: 2px solid black;
    width: auto;
}

.subscription{
	margin: 5px;
	padding: 5px;

}

.problembox {
	margin: 5px;
	padding: 5px;
    height: 60%;
    text-align: left;
    border: 2px solid black;
}

.text {
	background-color: palegreen;
	text-align: center;
	margin: 5px;
	padding: 5px;
/*	border: 2px solid black;*/
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

footer{
    align-items:center;
    text-align:center;
}


/* Buttons for all homework assignments */

.button{
	width:10%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button0 {background-color: palegreen;}
.button0:hover {
    background-color: white;
    border: 2px solid palegreen;
}
  
.button1 {background-color: palegreen;}
.button1:hover {
    background-color: white;
    border: 2px solid palegreen;
}
.button2 {background-color: palegreen;}
.button2:hover {
    background-color: white;
    border: 2px solid palegreen;
}
.button3 {background-color: palegreen;}
.button3:hover {
    background-color: white;
    border: 2px solid palegreen;
}
.button4 {background-color: palegreen;}
.button4:hover {
    background-color: white;
    border: 2px solid palegreen;
}
.button5 {background-color: palegreen;}
.button5:hover {
    background-color: white;
    border: 2px solid palegreen;
}
.button6 {background-color: palegreen;}
 .button6:hover {
    background-color: white;
    border: 2px solid palegreen; 
}
.button7 {background-color: palegreen;}
 .button7:hover {
    background-color: white;
    border: 2px solid palegreen;
} 
.button8 {background-color: palegreen;}
/*
.button8:hover {
    background-color: white;
    border: 2px solid palegreen;
}
*/

.button8b {background-color: palegreen;}
.button8b:hover {
    background-color: white;
    border: 2px solid palegreen;
}

.button9 {background-color: palegreen;}
/*
.button9:hover {
    background-color: white;
    border: 2px solid palegreen;
}
*/

.button10 {background-color: palegreen;}
/*
.button10:hover {
    background-color: white;
    border: 2px solid palegreen;
}
*/
