#main body style
body {
    margin: 0;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}

/* initial image parameters */
.jungle img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
